.mainhead {
  position: relative;
}

.circle {


    position: absolute;
    background: rgb(225, 57, 85);
    border-radius: 50%;
    width: 20.5em;
    height: 20.5em;
    top: 0.01px;
    right: 70px;
    

}
.jumbotron {
  height: 93vh;
}
img {
  position: absolute;
  height: 361px;
  width: 310.8px;
  top: -2em;
  right: 110px;
    
}

.head-button {
  color: white;
  background-color: rgb(225, 57, 85);
  border-radius: 50px;
}